
:host {
    display: block;
    height: 100vh; 
    background: url('../../../assets/img/photo-biblio.png') no-repeat center center fixed;
    background-size: cover;
  }

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}

.box_delete{
    width: 800px;
    height: 180px;
    background-color: rgb(181, 210, 188);
    text-align: center;
    padding: 70px;
    color: black;
    font-size: 2rem;
    font-weight: bold;
}

.boton_reg_content{
    background-color: rgb(0, 255, 64);
    width: 250px;
    height: 60px;
    border-radius: 15px;
}

.boton_reg{
    color:black;
    text-decoration: none;
} 